<% layout('boilerplate')%>
    <main>
        <div class="container">
            <div id="heading" class="row">
                <h3 class="top-heading">Top Recipes <i class="material-icons small">local_dining</i></h3>
            </div>
            <div class="row">
                <% recipes.forEach(recipe=> { %>
                    <div class="col s12 m4">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                                <% let recImg = recipe.imgUrl || '/img/NoPic.jpg' %>
                                <img class="activator" src=<%= recImg %>>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <%= recipe.name %> (&uparrow;<%= recipe.upvotes %>&downarrow;<%= recipe.downvotes %>)<i class="material-icons right">more_vert</i>
                                </span>
                                <p><a href="/recipes/<%= recipe._id %>">Cook this!</a></p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">
                                    <%= recipe.name %><i class="material-icons right">close</i>
                                </span>
                                <p class="truncate">
                                    <%= recipe.desc %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </main>