<% layout('boilerplate')%>

<main>
    <div class="container row">
        <h1 class="recipe-headings">Edit Recipe</h1>
        <form class="col s12" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" name="name" type="text" class="validate" value="<%= recipe.name %>">
              <label for="name">Recipe Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <textarea id="desc" name="desc" class="materialize-textarea"><%= recipe.desc %></textarea>
                <label for="desc">Recipe Description</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <textarea id="ingText" name="ingText" class="materialize-textarea"><% recipe.ingredients.forEach(element=>{%>=<%=(element).trim()+'\r\n'%><%})%></textarea>
                <label for="ingText">Recipe Ingredients (start each ingredient with a '=')</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <textarea id="instText" name="instText" class="materialize-textarea"><% recipe.instructions.forEach(element=>{%>=<%=(element).trim()+'\r\n'%><% })%></textarea>
                <label for="instText">Recipe Instructions (start each instruction with a '=')</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4">
                <input id="prepTime" name="prepTime" type="number" class="validate" min="1" value="<%= recipe.prepTime %>">
                <label for="prepTime">Preparation Time (in mins.)</label>
            </div>
            <div class="input-field col s12 m4">
                <input id="cookTime" name="cookTime" type="number" class="validate" min="1" value="<%= recipe.cookTime %>">
                <label for="cookTime">Cooking Time (in mins.)</label>
            </div>
            <div class="input-field col s12 m2">
                <input id="serves" name="serves" type="number" class="validate" min="1" value="<%= recipe.serves %>">
                <label for="serves">Serves</label>
            </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="switch">
                <label>
                  Non-Veg
                  <input type="checkbox" name="isVeg">
                  <span class="lever"></span>
                  Veg
                </label>
              </div>
          </div>
            <div class="col s6">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Select</span>
                  <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload an image of the recipe">
                </div>
              </div>
            </div>
        </div>
        <div class='row'>
            <button type='submit' class='col btn waves-effect indigo'>Submit</button>
        </div>
        </form>
      </div>
</main>